<% include header.ejs %>

    <div class="container-data">
      <div style="min-height: 500px;">
        <div class="alert alert-danger" style="text-align:center; margin-top: 40px;">
          <%=errorMsg%>.
        </div>
      </div>

<% include footer.ejs %>      
